/* some style */

.authenticator {
    display: inline-block
}

.signin-status {
    border: 1px solid #999;
    float: left;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.signed-in {
    background-color: green;
}

.signed-out {
    background-color: red;
}

form {
    display: inline-flex;
    flex-direction: column;
    margin-top: 2vh;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

hr {
    width: 100%
}

.sidebar {
    display: inline-flex;
    flex-direction: column;
}
